.question-content-item {
  height: 100%;
  padding: 21px;
  padding-top: 11px;
}
.question-content-item-main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.add-item {
  position: sticky;
  bottom: 0;
  margin-top: 15px;
  margin-left: 21px;
  width: 200px;
  height: fit-content;
  background: rgb(249, 252, 255);
}
.add-item:hover {
  background: rgb(235, 240, 250);
}
.remove-button {
  margin-left: 15px;
}
.answer-items-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px 15px 15px 15px;
  flex-grow: 1;
  overflow: auto;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}
.question-content-title-container {
  display: flex;
  align-items: baseline;
}
.badge-container {
  display: flex;
  justify-content: flex-end;
  gap: 11px;
  margin-bottom: 11px;
}
.answer-item {
  display: flex;
  align-items: center;
  transition: all 3000ms;
  height: 47px;
  padding-left: 1.5em;
  margin-bottom: 0.125rem;
  margin-top: 15px;
  animation: smooth_display 600ms forwards;
}

.answer-item-input {
  margin-top: 0;
}
.form-outline {
  padding-top: 8px;
}

@keyframes smooth_display {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
