.question-content-item {
  height: 100%;
  padding: 21px;
  padding-top: 11px;
}
.question-content-item-main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.add-item {
  position: sticky;
  bottom: 0;
  margin-top: 15px;
  margin-left: 21px;
  width: 200px;
  height: fit-content;
  background: rgb(249, 252, 255);
}
.add-item:hover {
  background: rgb(235, 240, 250);
}
.remove-button {
  margin-left: 15px;
  margin-top: 11px !important;
}
.btn:disabled {
  color: #294f8d;
  background-color: #e2eaf7;
}
.answer-input-box {
  margin-top: 11px !important;
}
.answer-items-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px 15px 15px 15px;
  flex-grow: 1;
  overflow: auto;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}
.question-content-title-container {
  display: flex;
  align-items: baseline;
}
.badge-container {
  display: flex;
  justify-content: flex-end;
  gap: 11px;
  margin-bottom: 11px;
}
.badge {
  cursor: pointer;
  max-width: 113px;

  text-overflow: ellipsis !important;
}

.answer-item {
  display: flex;
  align-items: center;
  transition: all 200ms;

  padding-left: 1.5em;
  margin-bottom: 0;
  margin-top: 0;
  height: 0;
  opacity: 0;
}
.show-answer-item {
  margin-bottom: 0.125rem;
  margin-top: 15px;
  height: 47px;
  opacity: 100%;
}

.answer-item-input {
  margin-top: 0;
}
.form-outline {
  padding-top: 8px;
}
