.input-container {
  position: relative;
  padding-top: 5px;
  min-width: fit-content;
}

.input-container > input {
  font-size: var(--input-font-size, 16px);
  padding-bottom: 2px;
  display: inline-block;
  width: 100%;
  border: none;
  border-bottom: var(--bar-thickness) solid var(--input-no-focus-color, #bdbdbd) !important;
  background: var(--input-background, transparent);
  text-overflow: ellipsis;
  line-height: 1;
  padding: 4px;
  padding-top: 7px;
  border-radius: 11px;
}
.input-container > input:focus,
.input-container > input:valid {
  outline: none;
  border-bottom-color: transparent !important;
}

.input-container > label {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 5px;

  max-width: 100%;
  padding: 0;
  margin: 0;

  left: 5px;
  top: calc(var(--input-font-size, 16px) - 6px - var(--fix-label-position, 0px));

  line-height: normal;

  font-size: calc(var(--input-font-size, 16px) - 3px);
  color: var(--input-no-focus-color, #bdbdbd);
  background: transparent;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  pointer-events: none;

  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.input-container > input:focus ~ label,
.input-container > input:valid ~ label {
  top: -7px;
  font-size: 14px;
  color: var(--input-focus-color, #2337ff);
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before,
.bar:after {
  content: "";
  height: calc(var(--bar-thickness) + 1px);
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--input-focus-color, #2337ff);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

.input-container > input:focus ~ .bar:before,
.input-container > input:focus ~ .bar:after,
.input-container > input:valid:not(:focus) ~ .bar:before,
.input-container > input:valid:not(:focus) ~ .bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.input-container > input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
  from {
    background: var(--input-focus-color, #2337ff);
  }

  to {
    width: 0;
    background: transparent;
  }
}
