caption {
  padding: 0 !important;
}
#caption-container {
  display: flex;
  /* padding-top: 35px; */
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
}
#table-subject {
  /* width: 20%; */
  max-width: 300px;
  background: var(--main-color-blue);
  border: 1px solid rgb(92, 87, 87);
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom: 0;
}
#table-subject > input {
  height: 100%;
  width: 100%;
  background: transparent;
  padding-left: 0.7rem;
  outline: 0;
  border: 0;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}
#table-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* padding: 0 0 0 111px; */
  gap: 11px;
  white-space: nowrap;
  box-sizing: border-box;
  overflow: hidden;
  color: var(--main-color-blue) !important;
}
#table-title > * {
  margin: 0;
}
.thead-fix-y-padding {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}

.cell {
  height: 50px;
}
.cell > input {
  background-color: transparent;
  width: 100%;
  height: 100%;
  /* border: none; */
  outline: none;
}

#thead-axis {
  width: 11%;
}
#thead-content {
  width: 17%;
}
#thead-objective {
  width: 21%;
}

#thead-classes {
  width: 6%;
  max-width: 70px;
}
#thead-percentage {
  width: 5%;
  max-width: 40px;
}

td,
th,
tbody {
  padding: 0.25rem !important;
  margin: 0 !important;
}

.left-cell {
  padding-left: 0.7rem !important;
}

.number-cell {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14.4px !important;
}

thead > tr > :last-child {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: 0px;
  width: 8%;
}

#table-subject > input,
.thead-input > input {
  color: var(--main-color-blue-contrast);
}
tfoot > tr > td {
  padding: 0 !important;
  background: rgba(34, 41, 57, 0.851) !important;
  color: white !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#item-total-class {
  max-width: 70px;
}
#item-total-all-questions {
  background: rgb(35, 55, 255) !important;
}
#item-total-all-questions > input,
#item-total-all-questions > input::placeholder {
  color: white;
}
thead > tr > th {
  background-color: var(--main-color-blue) !important;
}

input::placeholder {
  opacity: 60%;
}
@media (max-width: 768px) {
  thead > tr > :nth-child(1) {
    padding-left: 0 !important;
    text-align: center;
  }
  tbody > tr > :nth-child(1) {
    padding-left: 0 !important;
  }
}

.td-input {
  min-height: 50px;
  cursor: cell;
  height: 100%;
  position: relative;
}

.td-input > textarea {
  width: 100%;
  height: 100%;
  padding: 0;
  box-sizing: border-box;

  border: none;
  /* outline: none; */

  resize: none;
}

table {
  height: 100%;
}
